[Unit]
Description=LED Arcade Boot Splash
DefaultDependencies=no
After=local-fs.target
Before=led-arcade.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/thiselazar/led-arcade
ExecStart=/home/thiselazar/led-arcade/boot_splash
Restart=no

[Install]
WantedBy=sysinit.target
